## .NET
bin/
obj/
*.user
*.suo
*.cache
.vs/
*.DotSettings.user

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/

## NuGet
**/packages/*
*.nupkg
project.lock.json

## IDE
.idea/
*.sln.iml

# release files
# NeuralSim-v1.0-win-x64.zip
# NeuralSim-v1.1-win-x64.zip
NeuralSim-v*-win-x64.zip
